$black: #000;
$black2: #1b1c1d;
$blue: #4183C4;
$brown: rgb(76, 60, 76);
$brown2: hsla(0,0%,100%,.5);
$brown3: #5F505F;
$grey: rgba(34, 36, 38, .15);
$grey1: #909090;
$grey2: #E8E8E8;
$grey3: #6A6A6A;
$grey4: #e0e1e2;
$grey5: #cacbcd;
$orange: #f2711c;
$primary: #3f51b5;
$violet: #5829bb;
$violet2: #6435c9;
$white: #fff;
$yellow: #FCCA39;
$red: #db2828;
$green: #21ba45;

$light: 300;
$regular: 400;
$bold: 700;
