@import 'variables';

.messages-header {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &__title {
    padding: 0;
    margin: 0;
  }

  &__star {
    cursor: pointer;

    &--starred {
      color: $yellow;
    }
  }

  &__search {
    position: relative;
    top: 5px;
  }
}
