<mat-card class="messages-header">
  <div>
    <h2 *ngIf="channel?.name" class="messages-header__title">
      #{{ channel.name }}
      <fa-icon
        *ngIf="showIcon"
        class="messages-header__star"
        [class.messages-header__star--starred]="starred"
        [icon]="icons[starred ? 'faStarSolid' : 'faStar']"
        (click)="onStar()"
      ></fa-icon>
    </h2>
    <span>0 Users</span>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Search Messages" [(ngModel)]="searchTerm" (ngModelChange)="onSearch()">
      <mat-icon (click)="searchTerm.length && onClear()" class="messages-header__search" matSuffix>{{ searchIcon }}</mat-icon>
    </mat-form-field>
  </div>
</mat-card>
