<mat-card appDropFile (fileDropped)="onFileDropped($event)" class="messages-actions">
  <div class="messages-actions__input-wrapper">
    <emoji-mart
      [class.hidden]="!showEmoji"
      [style]="{ position: 'absolute', bottom: '100%', left: '0' }"
      [showPreview]="false"
      [sheetSize]="32"
      (emojiSelect)="onEmojiAdd($event)"
    ></emoji-mart>
    <button class="messages-actions__icon-wrapper">
      <fa-icon
        [icon]="icon"
        (click)="onToggleEmoji()"
      ></fa-icon>
    </button>
    <label class="messages-actions__label">
      <input
        #input
        [(ngModel)]="message"
        (keyup.enter)="onMessageAdd()"
        class="messages-actions__input"
        type="text"
        name="message"
      >
    </label>
  </div>
  <div class="messages-actions__buttons-wrapper">
    <app-button-with-icon
      (click)="onMessageAdd()"
      color="#f2711c"
      iconColor="#EA5A0D"
      text="Add Repply"
      [icon]="icons.faEdit"
    ></app-button-with-icon>
    <app-button-with-icon
      (click)="file.click()"
      color="#00B5AD"
      iconColor="#00A9A1"
      text="Upload Media"
      [leftIcon]="false"
      [icon]="icons.faFileUpload"
    ></app-button-with-icon>
  </div>
</mat-card>

<input
  #file
  hidden
  type="file"
  (change)="onFileUpload($event)"
/>
