<ng-container *ngIf="{ channel: channel$ | async, user: user$ | async } as obs$">
  <ng-container *ngIf="obs$.channel">
    <app-messages-header
      [channel]="obs$.channel"
      [searchTerm]="searchTerm$ | async"
      [starred]="isStarred$ | async"
      [starredChannelsLength]="starredChannelsLength$ | async"
      [users]="users$ | async"
      (star)="onStar($event)"
      (search)="onSearch($event)"
    ></app-messages-header>

    <app-messages-list
      [messages]="messages$ | async"
      [user]="obs$.user"
    ></app-messages-list>

    <app-messages-actions
      [progress]="progress$ | async"
      [showEmoji]="showEmoji"
      (messageAdd)="onMessageAdd($event, obs$.channel.id, obs$.user)"
      (toggleEmoji)="onToggleEmoji($event)"
    ></app-messages-actions>
  </ng-container>
</ng-container>
