@import 'global';
@import 'variables';

html,
body {
  height: 100%;
}

body {
  background: #eee;
  font-family: Lato, "Helvetica Neue", sans-serif;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.25);
  transition: color 0.2s ease;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 135, 139, 0.8);
}

.hidden {
  display: none;
}

.user-profile-view .mat-button-wrapper {
  font-weight: $bold;
}

.themes-overlay {
  background-color: rgba(0, 0, 0, .85);
}

.themes-wrapper .mat-dialog-container {
  background-color: transparent;
}

ngx-remote-stream-view .remote-stream-view__info {
  img {
    border-radius: 50%;
    display: block;
  }
}
