<ng-container *ngIf="{ themes: themes$ | async, selected: selected$ | async } as obs$">
  <div class="themes">
    <button
      (click)="onAdd()"
      class="themes__add"
      color="primary"
      mat-raised-button
    ><mat-icon>add</mat-icon>
    </button>

    <ng-container *ngFor="let theme of obs$.themes; let idx = index">
      <div class="themes__divider"></div>
      <app-theme
        [selected]="theme.id === obs$.selected.id"
        [theme]="theme"
        (click)="theme.id !== obs$.selected.id && onSelect(theme)"
        (dblclick)="idx !== 0 && onEdit(theme)"
        (remove)="onRemove($event)"
      ></app-theme>
    </ng-container>
  </div>
</ng-container>
