<div class="auth">
  <h1 class="auth__header">
    <span class="auth__header--icon">
      <fa name="puzzle-piece"></fa>
    </span>
    <span class="auth__header--title">
      Register for DevChat
    </span>
  </h1>
  <form appFocusInvalidField class="auth__form-wrapper" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field *ngIf="form.get('userName') as userName">
      <mat-label>Username</mat-label>
      <input
        [errorStateMatcher]="matcher"
        matInput
        placeholder="Username"
        formControlName="userName"
      ><span matPrefix class="auth__input-icon">
        <fa name="user"></fa>
      </span>
      <mat-error>
        {{ errorMessages.username }}
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="form.get('email') as email">
      <mat-label>Email</mat-label>
      <input
        [errorStateMatcher]="matcher"
        matInput
        placeholder="Email"
        formControlName="email"
      ><span matPrefix class="auth__input-icon">
        <fa name="envelope"></fa>
      </span>
      <mat-error *ngIf="email.invalid">
        <ng-container *ngIf="email.errors['required']">
          {{ errorMessages.email }}
        </ng-container>
        <ng-container *ngIf="email.errors['email']">
          {{ errorMessages.emailPattern }}
        </ng-container>
      </mat-error>
    </mat-form-field>
    <ng-container *ngIf="form.get('passwordGroup') as passwordGroup" formGroupName="passwordGroup">
      <mat-form-field *ngIf="passwordGroup.get('password') as password">
        <mat-label>Password</mat-label>
        <input
          [errorStateMatcher]="matcher"
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
        ><span matPrefix class="auth__input-icon">
          <fa name="unlock-alt"></fa>
        </span>
        <mat-error *ngIf="password.invalid">
          <ng-container *ngIf="password.errors['required']">
            {{ errorMessages.password }}
          </ng-container>
          <ng-container *ngIf="password.errors['minlength'] && password.errors['minlength']['requiredLength']">
            {{ errorMessages.passwordLength }}
          </ng-container>
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="passwordGroup.get('confirmPassword') as confirmPassword">
        <mat-label>Confirm Password</mat-label>
        <input
          [errorStateMatcher]="parentMatcher"
          matInput
          type="password"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
        ><span matPrefix class="auth__input-icon">
          <fa name="repeat"></fa>
        </span>
        <mat-error>
          <ng-container *ngIf="confirmPassword.errors">
            {{ errorMessages.confirmPassword }}
          </ng-container>
          <ng-container *ngIf="!confirmPassword.errors && passwordGroup.errors">
            {{ errorMessages.confirmPasswordMatch }}
          </ng-container>
        </mat-error>
      </mat-form-field>
    </ng-container >
    <button [disabled]="form.disabled" class="auth__submit-button" mat-raised-button>Register</button>
  </form>
  <mat-card class="auth__footer">
    Already a user?
    <a routerLink="/login">Login</a>
  </mat-card>
</div>
