<app-channels-header
  [count]="(starredChannels$ | async).length"
  iconName="faStarSolid"
  title="starred"
></app-channels-header>

<ng-container *ngIf="selected$ | async as selected">
  <app-channels-body
    [channels]="starredChannels$ | async"
    [selected]="selected"
    [starred]="selected.starred"
    (select)="onSelect($event, true)"
  ></app-channels-body>
</ng-container>

<app-channels-header
  [add]="true"
  [count]="(channels$ | async).length"
  iconName="faExchangeAlt"
  title="channels"
  (addChannel)="onAddChannel()"
></app-channels-header>

<ng-container *ngIf="selected$ | async as selected">
  <app-channels-body
    [channels]="channels$ | async"
    [selected]="selected"
    [starred]="!selected.starred"
    (select)="onSelect($event, false)"
  ></app-channels-body>
</ng-container>
