.user-panel {
  padding: 1em 0;

  &__title {
    align-items: center;
    display: flex;
    margin: 0;

    &--icon {
      font-size: 1.5em;
      margin-right: 10px;
    }

    &--text {
      font-weight: 500;
    }
  }
}
