<mat-card class="messages-header">
  <div>
    <h2 *ngIf="channel?.name" class="messages-header__title">
      {{ prefix }} {{ channel.name }}
      <fa-icon
        *ngIf="showIcon && !channel.private"
        class="messages-header__star"
        [class.messages-header__star--starred]="starred"
        [icon]="icons[starred ? 'faStarSolid' : 'faStar']"
        (click)="onStar()"
      ></fa-icon>
      <fa-icon
        *ngIf="channel.private && isOnline"
        class="messages-header__phone"
        [icon]="icons.faPhone"
        (click)="onCall()"
      ></fa-icon>
    </h2>
    <span *ngIf="!channel.private" class="messages-header__users">{{ numberOfUsers }}</span>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Search Messages" [(ngModel)]="searchTerm" (ngModelChange)="onSearch()">
      <mat-icon (click)="searchTerm.length && onClear()" class="messages-header__search" matSuffix>{{ searchIcon }}</mat-icon>
    </mat-form-field>
  </div>
</mat-card>
