@import 'variables';

.messages-header {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &__title {
    font-size: 1.5rem;
    font-weight: $bold;
    padding: 0;
    margin: 0;
  }

  &__users {
    color: rgba(0, 0, 0, 0.6);
  }

  &__star {
    cursor: pointer;

    &--starred {
      color: $yellow;
    }
  }

  &__phone {
    color: $green;
    cursor: pointer;
    left: 3px;
    position: relative;
    top: 3px;
  }

  &__search {
    cursor: pointer;
    position: relative;
    top: 5px;
  }
}
