<ng-container *ngIf="user$ | async as user">
  <mat-accordion *ngIf="channel$ | async as channel" class="channel-detail">

    <mat-expansion-panel [hideToggle]="true">
      <mat-expansion-panel-header class="channel-detail__header channel-detail__header--info">
        <fa-icon class="channel-detail__icon" [icon]="icons.faInfo"></fa-icon>
        <span class="channel-detail__title">
          About # {{ channel.name }}
        </span>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        {{ channel.description }}
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <fa-icon [icon]="icons.faUserCircle"></fa-icon>
        <span class="channel-detail__title">
          Top Posters
        </span>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <ng-container *ngIf="posters$ | async as posters">
          <ul *ngIf="posters.length" class="channel-detail__title channel-detail__title--posters">
            <li *ngFor="let poster of posters" class="channel-detail__author">
              <img
                class="channel-detail__gravatar"
                [src]="poster.photoURL"
                alt=""
            ><div>
              <p class="channel-detail__name">{{ poster.displayName }}</p>
              <p>{{ poster.length }} {{ poster.length > 1 ? 'posts' : 'post' }}</p>
            </div>
            </li>
          </ul>
        </ng-container>
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <fa-icon [icon]="icons.faUser"></fa-icon>
        <span class="channel-detail__title">
        Created by
      </span>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div class="channel-detail__author">
        <img
        class="channel-detail__gravatar"
        [src]="channel.createdBy.photoURL"
        alt=""
        >{{ channel.createdBy.displayName }}
      </div>
    </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="user.uid === channel.uid">
      <mat-expansion-panel-header>
        <fa-icon [icon]="icons.faCog"></fa-icon>
        <span class="channel-detail__title">
          Actions
        </span>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-channels-form
          [channel]="channel"
          [submitButton]="{ color: '', text: 'Edit' }"
          (submitEmitter)="onChannelEdit($event, channel)"
        ><button
            (click)="onChannelRemove(channel)"
            type="button"
            class="channel-detail__remove-btn"
            mat-raised-button
            color="warn"
          >Remove
          </button>
        </app-channels-form>
      </ng-template>
    </mat-expansion-panel>

  </mat-accordion>
</ng-container>
